@media (max-width: 1000px) {
   .header__nav {
      margin-bottom: 95px;
   }
   .header__title {
      font-size: 50px;
      margin-bottom: 34px;
   }
   .header__text {
      font-size: 24px;
      margin-bottom: 45px;
   }
   .nav__list {
      gap: 70px;
   }
   .container {
      margin: 0 auto;
      padding: 0 24px;
   }
   .slider__title {
      font-size: 50px;
      bottom: 50px;
      left: -5px;
      background: linear-gradient(90deg, rgba(17, 68, 85, 1) 28px, rgba(255,255,255,1) 28px);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
   }
   .slide {
      padding-left: 20px;
   }
   .container-right {
      padding-left: 70px;
   }
   .section__title {
      font-size: 50px;
   }
   .section__paragraf {
      font-size: 17px;
      padding-bottom: 40px;
   }
   .case__video-title {
      font-size: 50px;
   }
   .case__video-paragraf {
      font-size: 17px;
   }
   .case__title {
      padding:130px 0 0px;
   }
   .footer__email {
      margin-right: 0;
   }
}
@media (max-width:805px) {
   .footer__copyright-nav {
      flex-direction: column;
   }
   .footer {
      margin-top: 50px;
   }
}

@media (max-width: 600px){
   .nav__logo{
      max-width: 109px;
      margin-left: 9px;
   }
   .nav__list{
      display: none;
   }
   .nav__btn {
      display: block;
   }
   .header__content-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 27px;
   }
   .header__logo-mobile {
      max-width: 237px;
   }
   .header__content {
      display: none;
   }
   .section__title {
      font-size: 32px;
   }
   .section__paragraf {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 6%;
      padding-bottom: 0;
   }
   .case__video-title {
      font-weight: 400;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;
   }
   .case__video-paragraf {
      font-size: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 6%;
   }
   .container-right {
      padding: 0 20px;
   }
   .case__title {
      padding-top: 80px;
      padding-bottom: 30px;
   }
   .video {
      padding-top: 0;
   }
   .footer__copyright-nav {
      justify-content: space-between;
      align-items: center;
   }
   .footer__email a {
      color: rgba(74, 42, 211, 1);
   }
   .footer__email {
      margin-right: 0;
   }
   .footer {
      margin-top: 0;
   }
   .video iframe {
      aspect-ratio: 1 / 1;
   }
}